registry=https://registry.npmjs.org/
@spectrum-web-components:registry=https://registry.npmjs.org/
@pandora:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-pandora-release
//artifactory.corp.adobe.com/artifactory/api/npm/npm-pandora-release/:_authToken=${NPM_TOKEN}
